@media only screen and (max-width: 768px) {
  body .container h1 {
    font-size: 29px !important; }
  body .container .season-winners, body .container .driver-standings {
    width: 100% !important;
    float: left; }
    body .container .season-winners h2, body .container .driver-standings h2 {
      text-align: center; } }

@font-face {
  font-family: headingFont;
  src: url(../fonts/Aventura-Bold.otf); }

body {
  background-color: #F1F0DC !important; }
  body .container h1 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    font-family: headingFont;
    font-size: 72px; }
  body .container .season-winners, body .container .driver-standings, body .container .race-tracks {
    width: 50%;
    float: left; }
    body .container .season-winners h2, body .container .driver-standings h2, body .container .race-tracks h2 {
      font-family: headingFont;
      text-align: center;
      color: black;
      font-size: 26px; }
  body .container .race-tracks {
    clear: both;
    width: 100%; }
  body .cd-panel h2 {
    font-family: headingFont;
    margin-top: 5px;
    margin-left: 10px;
    color: black;
    font-size: 23px; }
  body .cd-panel .cd-panel-content div {
    width: 50%;
    float: left; }
  body .cd-panel .cd-panel-content h3 {
    font-family: headingFont;
    color: black; }
  body .cd-panel .cd-panel-content p {
    font-size: 16px;
    padding-top: 20px; }

.nv-group rect {
  width: 12px; }
